@import "../../App.scss";

.contact {
    height: 100%;
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;
    overflow: hidden;

    @include mobile {
        width: 100%;
        padding: 10px;
        flex-direction: column;
    }

    .text-container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        flex: 1;
        @include mobile {
            gap: 20px;
            text-align: center;
            align-items: center;
            margin-top: 70px;
        }

        h1 {
            font-family: $heading-font;
            font-size: 90px;
            line-height: 88px;
            @include mobile {
                font-size: 42px;
                line-height: 1.5;
            }
        }
        h2 {
            margin-bottom: 10px;
        }
    }

    .form-container {
        flex: 1;
        position: relative;
        @include mobile {
            padding: 30px;
            width: 100%;
        }
        .phoneSvg {
            stroke: $primary-color;
            position: absolute;
            margin: auto;
            z-index: -1;
            @include mobile {
                display: none;
            }
        }
        form {
            display: flex;
            flex-direction: column;
            gap: 20px;

            input,
            textarea {
                padding: 20px;
                background-color: transparent;
                border: 1px solid white;
                color: white;
                border-radius: 10px;
                font-size: 14px;
                @include mobile {
                    padding: 10px;
                }
            }

            button {
                padding: 20px;
                color: white;
                border: none;
                background-color: $primary-color;
                border-radius: 10px;
                cursor: pointer;
                font-size: 20px;
                font-weight: 600;
                transition: background-color 0.5s ease;
                @include mobile {
                    padding: 10px;
                }
                &:hover,
                &:active {
                    background-color: white;
                    color: $primary-color;
                }
            }
        }
    }
}
