$text-color: #d3d3d3;
$second-text-color: #333;
$primary-color: #9933ff;

$text-font: "Montserrat", sans-serif;
$heading-font: "Bebas Neue", sans-serif;

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

input,
button,
textarea,
select {
    outline: none;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {
    font-family: $text-font;
    font-size: 16px;
    line-height: 1;
    background-color: #0c0c1d;
    // padding: 5rem;
    color: $text-color;
    font-weight: 400;
    // overflow: hidden;
}

section {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: center;
}

@mixin mobile {
    @media screen and (max-width: 767.98px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 1023.98px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1024px) {
        @content;
    }
}
